/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* wrapper */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo */
a.lil-wayne-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
img.main-logo {
  margin: 100px 0;
}
/* h1 */
.h1 {
  font-size: 32px;
  color: #111;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 0 80px;
}
@media (max-width: 1119px) {
  .h1 {
    font-size: 32px;
    max-width: 790px;
    padding: 0 24px;
  }
}
@media (max-width: 790px) {
  .h1 {
    font-size: 32px;
    max-width: 500px;
  }
}
/* h1 */
h1 {
  font-size: 32px;
  color: #111;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 0 80px;
}
@media (max-width: 1119px) {
  h1 {
    font-size: 32px;
    max-width: 790px;
    padding: 0 24px;
  }
}
@media (max-width: 790px) {
  h1 {
    font-size: 32px;
    max-width: 500px;
  }
}
/* News Section */
.news-section {
  display: flex;
  flex-direction: row;
  height: 451px;
  max-width: 1200px;
  width: 100%;
  padding: 0 80px;
  gap: 16px;
  margin: 40px 0;
  justify-content: center;
}
.main-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  cursor: pointer;
}
.main-article-image {
  width: 100%;
}
.main-article-image img {
  border-radius: 12px;
}
.news-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-article-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 14px;
}
p.article-date {
  font-size: 16px;
  color: #111;
}
h2.article-title {
  font-size: 20px;
  line-height: 130%;
}
p.article-description {
  font-size: 16px;
  color: #737373;
  line-height: 130%;
}
.related-articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}
.related-article {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 132px;
  gap: 16px;
  cursor: pointer;
}
.related-article-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 60%;
}

h3.article-title {
  font-size: 16px;
  line-height: 130%;
}

.related-article p {
  font-size: 14px;
}
.related-article-image {
  width: 40%;
  height: 100%;
  border-radius: 12px;
}

a.see-more-articles {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  text-decoration: none;
  font-size: 16px;
  color: #B42C1E;
  cursor: pointer;
  padding: 0 80px;
  margin-bottom: 40px;
}
@media (max-width: 1119px) {
  .news-section {
      flex-direction: column;
      align-items: center;
      height: auto;
      max-width: 790px;
      padding: 0px 24px;
  }
  .main-article {
      width: 100%;
      height: 50%;
  }
  .related-articles {
      width: 100%;
      flex-direction: row;
      height: 50%;
  }
  .related-articles .related-article:last-child {
      display: none;
  }
  .related-article {
      width: 50%;
      height: 100%;
      flex-direction: column;
  }
  .related-article-content {
      width: 100%;
      height: auto;
  }
  .related-article-image {
    width: 100%;
    height: 50%;
  }
  a.see-more-articles {
    max-width: 790px;
    padding: 0 24px;
  }
}
@media (max-width: 790px) {
  .news-section {
      max-width: 500px;
  }
  a.see-more-articles {
    max-width: 500px;
    padding: 0 24px;
  }
}
.tour-section {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.tour-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 87.2px;
  justify-content: center;
  width: 100%;
  height: 86px;
  background-color: #f5f5f5;
}
.tour-date.one {
  border-radius: 20px 20px 0 0;
}
.tour-date.three {
  border-radius: 0 0 20px 20px;
}
.arrow-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
}
h3.city {
  width: 142px;
  font-size: 20px;
  color: #111;
}
time.date {
  width: 58px;
  font-size: 16px;
  color: #111;
}
p.venue {
  width: 197px;
  font-size: 16px;
  color: #111;
}
.arrow-hover-state {
  display: none;
}
.tour-actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.tour-actions .btn {
  font-size: 16px;
  text-decoration: none;
  padding: 14px 28px;
  border: 1px solid #B42C1E;
  border-radius: 50px;
  color: #B42C1E;
  cursor: pointer;
}